<!-- contact -->
<section id="contact">
  <h2 class="head-border txtC pl30 pr30">Contact</h2>
  <div>
    <form id="contact_form" class="center container" [formGroup]="employeeForm" novalidate>
      <ul>
        <li>
          <ul class="contact_list">
            <li>
              <label for="companyname" class="bold  txtL contact_font">会社名／団体名
                <span class="bg_PURPLE needtag WHITE ml10 mb5 fz10 pt2 pb2 pl10 pr10">任意</span>
              </label>
            </li>
            <li>
            <span class="error"></span>
              <input class="w100pc cotact_form" id="companyname" type="text" name="companyname" placeholder="会社名／団体名" formControlName="companyname">
            </li>
          </ul>
        </li>
        <li>
          <ul class="contact_list">
            <li>
              <label for="your_name" class="txtL bold contact_font">お名前
                <span class="bg_RED needtag WHITE ml10 mb5 fz10 pt2 pb2 pl10 pr10">必須</span>
              </label>
            </li>
            <li>
            <span class="error" [hidden]="!(your_name.errors?.required && your_name.dirty)">氏名は漢字もしくはカナ入力で50文字で入力してください。</span>
              <input class="w100pc cotact_form" id="your_name" type="text" name="your_name" placeholder="氏名" formControlName="your_name" required >
            </li>
          </ul>
        </li>
        <li>
          <ul class="contact_list">
            <li>
              <label for="furigana" class="txtL bold contact_font">ふりがな
                <span class="bg_RED needtag WHITE ml10 mb5 fz10 pt2 pb2 pl10 pr10">必須</span>
              </label>
            </li>
            <li>
            <span class="error"></span>
              <input class="w100pc cotact_form" id="furigana" type="text" name="furigana" placeholder="ふりがな" formControlName="furigana">
            </li>
          </ul>
        </li>
        <li>
          <ul class="contact_list">
            <li>
                <label for="email" class="txtL bold contact_font">Email アドレス
                <span class="bg_RED needtag WHITE ml10 mb5 fz10 pt2 pb2 pl10 pr10">必須</span>
              </label>
            </li>
            <li>
            <span class="error"></span>
              <input type="email" class="w100pc cotact_form" id="email" name="email" placeholder="Email アドレス" formControlName="email">
            </li>
          </ul>
        </li>
        <li>
          <ul class="contact_list">
            <li>
              <label for="email_check" class="txtL bold contact_font">Email アドレス（確認）
                <span class="bg_RED needtag WHITE mb5 fz10 pt2 pb2 pl10 pr10">必須</span>
              </label>
            </li>
            <li>
            <span class="error"></span>
              <input type="email" class="w100pc cotact_form" id="email_check" name="email_check" placeholder="Email アドレス（確認）" formControlName="email_check">
            </li>
          </ul>
        </li>
        <li>
          <ul class="contact_list">
            <li>
              <label for="tel" class="txtL bold contact_font">電話番号
                <span class="bg_PURPLE needtag WHITE ml10 mb5 fz10 pt2 pb2 pl10 pr10">任意</span>
              </label>
            </li>
            <li>
            <span class="error"></span>
              <input type="tel" class="w100pc cotact_form" id="tel" name="tel" placeholder="お電話番号（半角英数字でご入力ください）" formControlName="tel">
            </li>
          </ul>
        </li>
        <li>
          <ul class="contact_list">
            <li>
              <label for="contact_type" class="txtL bold contact_font">お問い合わせの種類（※複数選択可）
                <span class="bg_RED needtag WHITE ml10 mb5 fz10 pt2 pb2 pl10 pr10">必須</span>
              </label>
            </li>
            <li>
            <span class="error"></span>
              <select class="w100pc cotact_form " id="contact_type" name="contact_type" size="s3" multiple formControlName="contact_type">
                <option *ngFor="let contact_type of contact_types" [value]="contact_type" >{{contact_type}}</option>
              </select>
            </li>
          </ul>
        </li>
        <li>
          <ul class="contact_list">
            <li>
              <label for="subject" class="txtL bold contact_font">件名
                <span class="bg_RED needtag WHITE ml10 mb5 fz10 pt2 pb2 pl10 pr10">必須</span>
              </label>
            </li>
            <li>
            <span class="error"></span>
              <input type="text" class="w100pc cotact_form" id="subject" name="subject"  placeholder="件名" formControlName="subject">
            </li>
          </ul>
        </li>
        <li>
          <ul class="contact_list">
            <li>
              <label for="comment" class="txtL bold contact_font">お問い合わせ内容
                <span class="bg_RED needtag WHITE ml10 mb5 fz10 pt2 pb2 pl10 pr10">必須</span>
              </label>
            </li>
            <li>
            <span class="error"></span>
              <textarea class="w100pc" id="comment" name="comment" placeholder="お問い合わせ内容（1000文字まで）をお書きください" formControlName="comment"></textarea>
            </li>
          </ul>
        </li>
        <li class="btn_box">
          <ul class="btn_box_inner">
            <li class="btn_list">
              <button class="btn btn_1" type="submit" name="submitted"><span class="btn-Text">送信</span></button>
            </li>
            <li class="btn_list">
              <button class="btn btn_2" type="reset" value="Reset"><span class="btn-Text">リセット</span></button>
            </li>
          </ul>
        </li>
      </ul>
    </form>
  </div>
</section>

<p>Form value: {{ employeeForm.value | json }}</p>
<p>Form status: {{ employeeForm.status | json }}</p>
