<h2>社員詳細</h2>
<form class="container" [formGroup] ="employeeForm" novalidate (submit)="save($event)">
  <div class="form-group">
    <div class="full-width">
      <label>会社／団体名</label>
      <input placeholder="会社／団体名" type="text" name="companyname" formcontrolName="companyname">
    </div>
    <div class="full-width">
      <label>お名前</label>
      <input placeholder=" お名前" type="your_name" name="your_name" formcontrolName="your_name">
    </div>
    <div class="full-width">
      <label>部署</label>
      <select id="contact_type" formcont rolName="contact_type">
        <option *ngFor="let contact_type of contact_types" [value]="contact_type">
          {{contact_type}}</option>
      </select>
    </div>
    <div class="full-width">
      <label>メールアドレス</label>
      <input placeholder="メールアドレス" type="text"name="email" formControlName="email">
    </div>
    <button mdButton type="submit">保存</button>
  </div>
</form>

<p>Form value: {{ employeeForm.value | json }}</p>
<p>Form status: {{ employeeForm.status | json }}</p>
