<h2>社員詳細</h2>
<form class="container" [formGroup]="employeeForm" novalidate>
  <div class="form-group">
    <div class="full-width">
      <label>名前</label>
      <input placeholder="名前" type="text" name="your_name" formControlName="your_name">
    </div>
    <div class="full-width">
      <label>電話番号</label>
      <input placeholder="電話番号" type="text" name="tel" formControlNane="tel">
    </div>
    <div class="full-width">
      <label>お問い合わせの種類（※複数選択可）</label>
      <select id="contact_type" formControlName="contact_type">
        <option *ngFor="let contact_type of contact_types" [value]="contact_type">
          {{ contact_type }}
        </option>
      </select>
    </div>
    <div class="full-width">
      <label> メールアドレス</label>
      <input placeholder=" メールアドレス" type="text" name="email"
              formcont rolName="email">
    </div>
  </div>
</form>

<p>Form value: {{ employeeForm.value | json }}</p>
<p>Form status: {{ employeeForm.status | json }}</p>
